GCP_PROJECT_ID=gen-lang-client-0073794959
BIGQUERY_DATASET=agrobook_serp_monitor
BIGQUERY_LOCATION=EU
LOCATION_CODE=2348
LANGUAGE_CODE=hu
SERP_DEVICES=desktop,mobile
LOAD_ASYNC_AI_OVERVIEW=false
DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=
TARGET_DOMAIN=agrobook.hu
SERP_DEPTH=20
MAX_TASKS_PER_POST=100
